<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@item) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :is_borrow %>
      <%= f.check_box :is_borrow %>

      <%= f.label :user_id %>
      <%= f.collection_select :user_id, current_user.group.users.order(name: :asc), :id, :name, {selected: current_user}  %>

      <%= f.label :note %>
      <%= f.text_area :note, class: 'form-control' %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<% end %>
