<p id="notice"><%= notice %></p>

<h1>Items</h1>

<%= will_paginate %>

<ul class="users">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>BorrowUser</th>
        <th>Note</th>
        <th>Last Update</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.is_borrow ? item.user.name : "" %></td>
          <td><%= truncate(item.note, length: 50) %></td>
          <td><%= item.updated_at %></td>
          <td><%= link_to 'Borrow', borrow_item_item_path(item.id), method: :post, data: { confirm: 'Borrow this?' } %></td>
          <td><%= link_to 'Return', return_item_item_path(item.id), method: :post, data: { confirm: 'Return this?' } %></td>
          <td><%= link_to 'Show', item %></td>
          <td><%= link_to 'Edit', edit_item_path(item) %></td>
          <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</ul>



<%= will_paginate %>

<br>

<%= link_to 'New Item', new_item_path %>
